form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
}
label {
    text-align: left;
}
#enviar {
    height: 50px;
    width: 100px;
    margin: auto;
    background-color: gainsboro;
    margin-bottom: 70px;
}

#enviar:hover {
    background-color: gray;
    transform: scale( 1.3);
}
.borda {
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 70px;
}